<<<<<<< HEAD
=======
:root{
    --color-white:#FFFFFF;
    --color-blue:#00F0FF;
    --bg-color:#0B071A;
    --card-background:#130F26 ;
    --taxt-color-grey:#8E8A9F;
    --text-color-pinkred:#FF007F;
    --text-color-purple:#AE52FF;
    --text-color-yellou:#FFCC00;
}
>>>>>>> ea14c30b19f13404342a3ecaa19c49e55994b18b
